.weekly-ranking-list {
    width: 100%;
    height: 200px;
    padding: 40px 0 24px 0;
    border-radius: 10px;
    background: linear-gradient(265.62deg, #ffffff -24.11%, rgb(228, 231, 245) 26.13%, rgb(226, 230, 245) 73.02%, rgb(226, 230, 245) 106.26%);

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Archivo';
        font-style: normal;

        button {
            padding: 10px 11px;
            min-width: 106px;
            min-height: 40px;
            border-radius: 4px;
            margin-left: 24px;
            cursor: pointer;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            border: none;
            transition: 1s;
            color: #98989A;
            background: #D8D8D8;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                transition: 1s;
                color: #FFFFFF;
                background: #df9100 !important;
            }

            // &:disabled {
            //     color: #98989A;
            //     background-color: #D8D8D8 !important;
            // }
        }

        .week-st {
            color: #FFFFFF;
            background: #ba9756;
        }

        .select-period {
            margin-left: 24px;
            background: #FFFFFF;
            border-radius: 4px;
            border: none;

            .ant-select-selector {
                height: 100%;
                border: none;

                .ant-select-selection-placeholder,
                .ant-select-selection-item {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .w-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 39px;
        color: #df9100;
    }

    .statistical-time {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #333333;
        margin-top: 10px;

        span {
            font-weight: 600;
            color: rgb(38, 38, 38);
        }
    }

    .func-area {
        margin-top: 24px;
    }
}

.d-t {
    font-weight: 700;
    color: #ba9756 !important;
}

.rank-icon {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;

    .img-area {
        width: 70px;
        height: 44px;
        border-radius: 50%;
        margin-right: 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat !important;
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        span {
            width: 100%;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}